{% extends 'base.html.twig' %}
{% block content %}
    <h1>Bienvenue sur Demoliquidem</h1>
<p>
    Batnae municipium in Anthemusia conditum Macedonum
    manu priscorum ab Euphrate flumine brevi spatio disparatur,
    refertum mercatoribus opulentis, ubi annua sollemnitate prope
    Septembris initium mensis ad nundinas magna promiscuae fortunae
    convenit multitudo ad commercanda quae Indi mittunt et Seres aliaque plurima vehi terra marique consueta.
</p>
{% endblock %}
{% block title %} Demoli{% endblock %}